<!doctype html>
<html>
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
  <meta charset="utf-8">
  <title><%= fontBaseName %></title>
  <link rel="stylesheet" type="text/css" media="screen" href="../css/page.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="../css/navigation.css"/>
  <link rel="stylesheet" type="text/css" media="screen" href="../css/rui.css"/>
</head>
<body>
<div class="header_wrapper">
  <h1 class="header_title"><a href="http://ridibooks.com">RIDIBOOKS</a></h1>
  <ul class="navigation_wrapper">
    <li><span class="submenu_toggle_button">RUI ▾</span>
      <ul class="submenu">
        <li><a href="../index.html?20160120">PC, Mobile</a></li>
        <li><a href="../index.e.html?20160120">PAPER</a></li>
      </ul>
    </li>
    <li><a href="ruicon.html?20160120">IconFont ▸</a></li>
    <li><a href="../color-chips.html?20160120">ColorChips ▸</a></li>
  </ul>
</div>
<section id="page_ruicon">
  <h1>RIDIBOOKS Icon Font</h1>
  <p class="icon_name">font-family: <%= fontBaseName %></p>
  <ul id="icons">
    <% for (var glyphIdx = 0; glyphIdx < glyphs.length; glyphIdx++) { var glyph = glyphs[glyphIdx] %>
    <li>
      <a href="svg/<%= glyph %>.svg" target="_blank" download>
        <i class="<%= baseClass %> <%= classPrefix %><%= glyph %>"></i>
      </a>
      <span class="icon_title"><%= classPrefix %><%= glyph %></span>
    </li>
    <% } %>
  </ul>
</section>
</body>
</html>





